---
"body-class": join
layout: page
title: Code Island Members
published: true
---

<h2>Join the brigade!</h2>

<p>
  We meet roughly twice a month in the Brown TRI-Lab at <a href="https://www.google.com/maps/place/10+Davol+Square,+Providence,+RI/@41.816319,-71.406456,13z">10 Davol Square</a>. There is a parking lot behind the building and usually plentiful on-street parking. There is also a nice bike rack.
</p>

<p>
  <a id="joinupCTA" class="btn blue" href="https://docs.google.com/a/buildium.com/forms/d/1YjnzIIofe4PVD_JsXiu_w8KV7T1EOFNFFdDXy_wysg4/viewform" target="_blank">Tell us about yourself</a> by filling out our Google form.
</p>

<p>
  <h4>Do Good</h4> Use technology to create real solutions for problems facing our community in RI and, potentially, people across the country and around the world. 
</p>
<p>
  <h4>Network</h4> Meet and collaborate with some of the brightest local minds — folks with an incredibly diverse range of backgrounds, experiences, and skills. 
</p>
<p>
  <h4>Learn</h4> Get hands-on experience working in new languages and frameworks, make peer-reviewed code contributions, or just brainstorm ideas with us. 
</p>
<p>
  <h4>Eat Pizza</h4> Pizza is good. You should probably eat more of it. 
</p>

<hr>

<h2>Contributing Members</h2>
<p>
	Everyone, no matter their skills or interests, is invited to participate and contribute. If you would like to be listed here, <a href="https://github.com/theryankelly" target="_blank">contact Ryan Kelley</a> to become a member of the <a href="https://github.com/orgs/codeisland/people">Code Island</a> organization on Github, and then <a href="https://help.github.com/articles/publicizing-or-concealing-organization-membership/" target="_blank">change your membership</a> from private to public.
</p>

<!-- {% include github_org_members.html %} -->

{% include github_public_members.html %}

<br>

<h2>Leadership</h2>
<p>
  <strong>Ryan Kelly, Captain</strong> Ryan is an Interdepartmental Project Manager @RI_ODE. Working to make things cool, useful, and open.
</p>
<p>
  <strong>Alex Taylor, Co-Captain</strong> Alex is a UX &amp; visual designer, compenent front-end developer, and occaisional trainer with a passion for making things better than they were. These days those things are mostly web-apps.
</p>
<p>
  <strong>Shawn Selleck, Community Organizer</strong> Shawn is an civic innovation consultant to the City of Providence, directly working to make public data accessible to the public
</p>
<p>
  <strong>Thom Guertin, Government Liaison</strong> Thom is Rhode Island’s Chief Digital Officer, leading RI’s Office of Digital Excellence; he helps Code Island gain access to data from state-level agencies
</p>
