<footer class="footer">
  <div class="site-width">
    <p>Stay in Touch</p>
    <ul>
      <li>Check out our projects over on our <a href="https://github.com/codeisland/">Github repository</a></li>
      <li>Follow us <a href="http://www.twitter.com/code_island">on Twitter</a></li>
      <li>Like us <a href="https://www.facebook.com/codeislandbrigade">on Facebook</a></li>
      <li>Join our <a href="https://plus.google.com/u/0/communities/112228497378493874687">Google+ community</a></li>
      <li>Send us <a href="mailto:info@code-island.org">an old-fashioned email</a></li>
    </ul>
    <img src="/images/flag-white-red.png" alt="Code for America Flag">
  </div>
</footer>
