<footer class="footer">
  <div class="site-width">
    <ul class="find-us">
      <li><a href="https://github.com/codeisland/">Github</a></li>
      <li><a href="http://www.twitter.com/code_island">Twitter</a></li>
      <li><a href="https://www.facebook.com/codeislandbrigade">Facebook</a></li>
      <li><a href="https://plus.google.com/u/0/communities/112228497378493874687">Google+</a></li>
      <li><a href="mailto:info@code-island.org">Email</a></li>
    </ul>
    <img src="/images/flag-white-red.png" alt="Code for America Flag">
  </div>
</footer>
