<div class="github-members">
  <h3>14 Code Islanders*</h3>
  <ul>
  
    <li class="do-gooder">
      <a href="https://github.com/Frymasterspeck">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/7399616?v=3">
        <h1 class="username">Frymasterspeck</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/alexkg413">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/660888?v=3">
        <h1 class="username">alexkg413</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/edarsow">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/10214958?v=3">
        <h1 class="username">edarsow</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/goldenmeanie">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/1969?v=3">
        <h1 class="username">goldenmeanie</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/jamesrhaley">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/8505062?v=3">
        <h1 class="username">jamesrhaley</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/jlax315">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/10198692?v=3">
        <h1 class="username">jlax315</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/joealba">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/22587?v=3">
        <h1 class="username">joealba</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/jrumbut">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/1858391?v=3">
        <h1 class="username">jrumbut</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/juanitogan">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/2923222?v=3">
        <h1 class="username">juanitogan</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/nelsonri72">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/7595000?v=3">
        <h1 class="username">nelsonri72</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/paulrolfe">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/5570541?v=3">
        <h1 class="username">paulrolfe</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/selleck">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/7750108?v=3">
        <h1 class="username">selleck</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/theryankelly">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/2421382?v=3">
        <h1 class="username">theryankelly</h1>
      </a>
    </li>
  
    <li class="do-gooder">
      <a href="https://github.com/zer0dave">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/7378368?v=3">
        <h1 class="username">zer0dave</h1>
      </a>
    </li>
  
  </ul>
</div>
