<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="publisher" href="https://plus.google.com/b/108323943856196593797/"  />

    <meta http-equiv="imagetoolbar" content="false" />

    <!-- <link rel="stylesheet" type="text/css" href="{{ "/css/ggs.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/styles.css" | prepend: site.baseurl }}">

    <script src="/javascripts/jquery-1.11.1.min.js"></script>

    <link rel="canonical" href="http://code-island.org" />

    <meta name="application-name" content="Code Island" />

    {% if page.title %}
	<title>{{page.title}} | Code Island</title>
	<!-- Open Graph -->
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ page.title }} | Code Island" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:url" content="{{ page.url | prepend: site.url }}" />
	<meta property="og:site_name" content="Code Island" />
	<meta property="article:publisher" content="https://www.facebook.com/codeislandbrigade/" />
	<meta property="og:image" content="{{ page.image | prepend: site.url }}" />
	<link rel="author" href="https://plus.google.com/{{ page.author-google-plus }}">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@civicquarterly">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:description" content="{{ page.description }}">
	<meta name="twitter:url" content="{{ page.url | prepend: site.url }}">
	<meta name="author" content="{{ page.author-name }}">
	<meta name="description" content="{{ page.description }}">
    {% else %}
	<!-- "Smart" defaults -->
	<title>Code Island: A Code for America Brigade based in Providence, RI</title>
	<!-- Open Graph -->
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Code Island: A Code for America Brigade in Providence, RI" />
	<meta property="og:description" content="Code Island is a Code for America Brigade based in Providence, RI. We're a group of citizens rethinking our local government." />
	<meta property="og:url" content="{{ page.url | prepend: site.baseurl }}" />
	<meta property="og:site_name" content="Code Island" />
	<meta property="article:publisher" content="https://www.facebook.com/codeislandbrigade/" />
	<meta property="og:image" content="http://code-island.org/favicon.png" />
	<link rel="author" href="https://plus.google.com/112228497378493874687/posts">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@code_island">
	<meta name="twitter:title" content="Code Island: A Code for America Brigade in Providence, RI">
	<meta name="twitter:description" content="Code Island is a Code for America Brigade based in Providence, RI. We're a group of citizens rethinking our local government.">
	<meta name="twitter:url" content="{{ site.baseurl }}">
	<meta name="author" content="Code Island">
	<meta name="description" content="Code Island is a Code for America Brigade based in Providence, RI. We're a group of citizens rethinking our local government.">
    {% endif %}


    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Code Island Search">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
    <meta name="robots" content="index, follow">

</head>
