<header class="site-width">
  <nav>  
    <div id="banner">
    	<a href="/" class="logo" title="Home">
    		<img src="/images/logos/code-island-no-logo.svg" class="svg" width="130" height="84" />
    		<!--[if lt IE 9]>
	    		<img src="/images/logos/code-island-no-logo@2x.png" class="png" width="130" height="84" />
	    		<style> .svg { display: none } </style>
    		<![endif]-->
    	</a>

    	<a href="#" id="links-trigger" class="text-right"><i class="fa fa-2x fa-bars"></i></a>
    </div>
    <div id="links">
	    <a href="/about/" title="About">About</a>
	    <a href="/projects/" title="Projects">Projects</a>
	    <a href="/join/" title="Join">Join</a>
	    <a href="/blog/" title="Blog">Blog</a>
	    <a href="/resources/" title="Resources">Resources</a>
	    <div id="social">
		    <a href="https://github.com/codeisland/" target="_blank" title="Code Island on Github"><i class="fa fa-lg fa-github"></i></a>
		    <a href="http://www.twitter.com/code_island" target="_blank" title="Code Island on Twitter"><i class="fa fa-lg fa-twitter"></i></a>
		    <a href="https://www.facebook.com/codeislandbrigade" target="_blank" title="Code Island on Facebook"><i class="fa fa-lg fa-facebook"></i></a>
		    <a href="https://plus.google.com/u/0/communities/112228497378493874687" target="_blank" title="Code Island on Google+"><i class="fa fa-lg fa-google-plus"></i></a>
		    <a href="mailto:info@code-island.org" title="Email Code Island"><i class="fa fa-lg fa-envelope"></i></a>
		  </div>
	  </div>
  </nav>
</header>
