<div class="site-width ">
        <h1>Next Meeting</h1>
          <p class="md soft">
            Join us at one of our <a href="http://www.meetup.com/Rhode-Island-Code-for-America-Brigade/">bi-monthly meetups</a> to 
            learn more about our <a href="/about/">what we do</a>, 
            contribute to a <a href="/projects/">current project</a>, 
            or just snag some free pizza. 
          </p>
          <hr>
          <p id="meetupDetails" class="lg loud">
            <span id="meetupDate"></span> at <a id="meetupLocation" href="" target="_blank"></a>
          </p>
          <p id="meetupRSVP" class="sm soft"></p>
          <a id="meetupCTA" class="btn" href="" target="_blank"></a>
      </div>