<div class="site-width ">
        <h1>Next Meeting</h1>
          <p class="large">
            <span id="nextmeeting"></span> at 6:00pm at <a href="https://www.google.com/maps/place/10+Davol+Square,+Providence,+RI+02903/@41.824152,-71.4398007,13z/data=!4m2!3m1!1s0x89e4456a8646dbf1:0x2259e0f433c149cf?hl=en">10 Davol Sqaure</a>
          </p>
          <hr>
          <p class="soft">
            Join us at one of our <a href="http://www.meetup.com/Rhode-Island-Code-for-America-Brigade/">bi-monthly meetups</a> to 
            learn more about our <a href="/about/">what we do</a>, 
            contribute to a <a href="/projects/">current project</a>, 
            or just snag some free pizza. 
          </p>
          <a class="btn" href="http://www.meetup.com/Rhode-Island-Code-for-America-Brigade/" target="_blank">RSVP on Meetup</a>
      </div>