/* @override http://localhost:4000/stylesheets/styles.css */

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  margin: 0;
  padding: 0;
  font:18px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.site-width{
	color: #444;
	width: 100%;
	max-width: 40rem;
	margin: 0 20% 0 20%;
}

h1, h2, h3, h4, h5, h6 {
  color:#444;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#444;
}

h3, h4, h5, h6 {
  color:#444;
}

a {
  color:#399fd3;
  font-weight:400;
  text-decoration:none;
}

a:hover{
	text-decoration: underline;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  background:#fff;
  margin: 0 0 1em;
  padding: 0 0 0;
  border-bottom: 3px solid #cf1b14;
}

header nav {
  padding: 0 0 2em 0;
}
header h1 {
  float: left;
}

header img {
	margin: 0 3em -2em 1em;
}

header a {
  color: #000;
  font-weight:bold;
  padding: 0 10px 0 10px;
  text-transform: uppercase;
}

header a:hover {
	color:#cf1b14;
	text-decoration:none;
}

header a:first-child {
  font-weight: bold;
  margin-right: 1em;
}

/* YOU ARE HERE */
.home nav .home,
.about nav .about,
.projects nav .projects,
.members nav .members,
.post nav .blog,
.resources nav .resources,
.faq nav .faq {
  text-decoration: underline;
}

/* HERO */
.hero {
  background: #e5e5e5;
  margin-top: -1em;
  padding: 1em 0;
  border-bottom: 3px solid #cf1b14;
}

.hero p, ul, ol {
  color: #444;
}

.hero a {
  color:#399fd3;
}

.hero img {
  float: right;
  padding: 10px;
  margin-top: -3px;
  margin-right: -50px;
}

.hero h1, h2, h3 {
  color: #444;
}

/* SUPERHERO */
.superhero {
	background-image:url(/images/hero-bg-ill.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
	margin-top: -1em;
}

.superhero h1, h2, h3, h4 {
	color:#fff;
	text-align:center;
	font-weight:800;
	margin-bottom: 0;
	padding-top: 0.5em;
	padding-bottom:1.5em;
}

.superhero h1 {
	font-size: 36px;
}

.blog-container {
  padding: 1em 0 2em;
}
strong {
  color:#444;
  font-weight:700;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#cf1b14;
  height:3px;
  margin:0 0 20px;
}

footer {
  margin-top: 30px;
}
footer img {
  margin-left: -20px;
}
