<!DOCTYPE html>
<html>

	<!-- HEAD -->
	{% include head.html %}

	<body id="page" class="{{ page.body-class }} no-js">

		<!-- HEADER -->
		{% include header.html %}

		<!-- Mission -->
		<div class="section hero">
			<div class="site-width">
				<div >
					<h1>Mission</h1>
					<p class="large">
						We are the official <a href="http://codeforamerica.org/">Code for America</a> brigade in Rhode Island, an all-volunteer organization of people looking to improve our community through technology.
					</p>
					<a class="btn white outline" href="/about/">Learn More</a>
				</div> 
			</div>
		</div>

		<!-- Meeting -->
		<div class="section meeting">
			{% include nextmeeting.html %}
		</div>

		<!-- CONTENT -->
		<main>
			
			<!-- Blog -->
			<div class="section blog">
				{{ content }}
			</div>

		</main>

		<!-- Twitter -->
		<div class="section twitter">
			<div class="twitter-timeline">
				{% include twitter.html %}
			</div>
		</div>

		<!-- FOOTER -->
		<div class="section footer">
			{% include footer.html %}
		</div>		

	<!-- FOOT -->
	{% include foot.html %}
	<!-- Display Next Meeting via Meetup API -->
	<script src="/javascripts/meetup.js" type="text/javascript"></script>

	</body>

</html>
