<!DOCTYPE html>
<html>

  {% include head.html %}


  <body id="page" class="{{ page.body-class }} no-js">

    {% include header.html %}

	  <div class="hero">
	    <div class="site-width">
	      <p>
	        Code Island is the official <a href="http://codeforamerica.org/">Code for America</a> brigade in Rhode Island. We are an all-volunteer organization of people looking to improve our community through technology.
	      </p>
	      <p>
	        As a general rule, we hold a <a href="http://www.meetup.com/Rhode-Island-Code-for-America-Brigade/">meetup</a> the first and third Tuesday of every month at 6pm at <a href="https://www.google.com/maps/place/10+Davol+Square,+Providence,+RI+02903/@41.824152,-71.4398007,13z/data=!4m2!3m1!1s0x89e4456a8646dbf1:0x2259e0f433c149cf?hl=en">Brown University&rsquo;s TRI Lab at 10 Davol Square</a>. Our meetups are free and open to anyone who wants to contribute.
	      </p>
	    </div>
	  </div>

    <main>

      {{ content }}
					<a class="btn" href="/about/">Learn More</a>

    	<div class="twitter-timeline">
		<!-- Meeting -->
		<div class="section meeting">
			{% include nextmeeting.html %}
		</div>
				{% include twitter.html %}
    	</div>

    </main>

	<!-- FOOT -->
	{% include foot.html %}

	</body>

</html>
