<!DOCTYPE html>
<html>

  <!-- HEAD -->
  {% include head.html %}

  <body id="page" class="{{ page.body-class }} no-js">

    <!-- HEADER -->
    {% include header.html %}

    <!-- CONTENT -->
    <main>  
      <div class="section page">
        <div class="site-width">
          {{ content }}
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <div class="section footer">
      {% include footer.html %}
    </div>

  <!-- FOOT -->
  {% include foot.html %}
  
  </body>
  
</html>
